# 7 - Filtragem de dados
Filtragem de dados é uma tarefa importantíssima na vida de qualquer cientista de dados. Nessa seção, veremos como criar filtros em um conjunto de dados utilizando o Pandas.

## Operadores booleanos

### and

In [2]:
# Cria x = 12
x = 12

In [3]:
# Verifica se x está entre 5 e 15 excluindo ambos
x > 5 and x < 15

True

### or

In [4]:
# Cria y = 5
y = 5

In [5]:
# Verifica se y não está entre 7 e 13 incluindo ambos
y < 7 or y > 13

True

### not

In [6]:
# não verdadeiro (falso)
not True

False

In [48]:
# não falso (verdadeiro)
not False

True

### Numpy

In [7]:
import numpy as np

# Cria arrays numpy com alturas e pesos
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])

# Cria array com IMCs
bmi = np_weight / np_height ** 2

# Mostra array de IMCs
bmi

array([21.85171573, 20.97505669, 21.75028214, 24.7473475 , 21.44127836])

In [10]:
# Array que mostra se cada elemento é ou não maior que 21
bmi > 21

array([ True, False,  True,  True,  True])

In [15]:
# Array que mostra se cada elemento está entre 21 e 22 excluindo ambos
(bmi > 21) & (bmi < 22)

# bmi > 21 and bmi < 22 # Código antigo (não funciona)

array([ True, False,  True, False,  True])

In [16]:
# Faz um e lógico entre os dois ranges (o mesmo que o código anterior)
np.logical_and(bmi > 21, bmi < 22)

array([ True, False,  True, False,  True])

In [17]:
# Pega apenas os valores onde o e loógico é positivo (os que estão entre 21 e 22)
bmi[np.logical_and(bmi > 21, bmi < 22)]

array([21.85171573, 21.75028214, 21.44127836])

## Filtrando um DataFrame Pandas

In [18]:
import pandas as pd

# Carrega csv num dataframe começando o índice das colunas no zero
brics = pd.read_csv('brics.csv', index_col=0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

**Objetivo**: selecionar os países com área maior do que 8 milhões de km2

3 passos:
- Selecionar a coluna "area"
- Fazer uma comparação na coluna "area"
- Usar o resultado para selecionar os países

In [22]:
# Selecionar a coluna "area"
brics['area']

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [23]:
# Fazer uma comparação na coluna "area" para verificar se é maior que 8
brics['area'] > 8
is_huge = brics['area'] > 8
is_huge

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [24]:
# Usar o resultado para selecionar os países
brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [25]:
# Importando dataset de carros
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [27]:
# Extraia a coluna 'drives_right' do DataFrame 'cars' e atribua a variável 'dr'
dr = cars['drives_right']

# Use a variável 'dr' para criar um subconjunto de dados chamado 'sel'
sel = cars[dr]

# Imprima a variável 'sel'
# Pega os países que tem 'drives_right' true
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [28]:
# Crie uma variável car_maniac: linhas que possuem 'cars_per_cap' maiores do que 500
cpc = cars['cars_per_cap']
many_cars = cpc > 500
car_maniac = cars[many_cars]

# Imprima 'car_maniac'
# Pega os países que tem 'cars_per_cap' > 500
print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [29]:
# Importe o conjunto de dados 'cars.csv', bem como as bibliotecas 'pandas' e 'numpy'
import pandas as pd
import numpy as np
cars = pd.read_csv('cars.csv', index_col = 0)

# Crie a variável 'medium': linhas que possuem 'cars_per_cap' entre 100 e 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Imprima 'medium'
# Pega os países que tem 'cars_per_cap' entre 100 e 500
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True